body {
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}


.left-section {
    background-color: rgb(16, 16, 65);
    width: 30%;
    color: #f4f4f4;
    padding: 15px;
    text-align: center;
    border-right: 5px solid rgb(27, 137, 170);
}

.Profile {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    border-radius: 50%;
    border: 5px solid lightskyblue;
    padding: 2px;
}

.career-objectives, .personal-info-title, .certificate {
    color: whitesmoke;
    transition: color 0.3s ease-in;
}

.career-objectives:hover, .personal-info-title:hover, .certificate:hover {
    color: rgb(49, 223, 247);
    transition: color 3.5s ease-in;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 14px lightblue;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container {
    display: flex;
    background-color: whitesmoke;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-bottom: 10%;  
}

.right-section {
    padding: 0;
    width: 80%;   
}

ul li{
    margin: 3px 0;
}

button{
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px ;
    box-shadow: 0 0 15px rgb(76, 194, 233);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    
}
button:hover{
    background-color: rgb(16, 107, 150);
}

/* Media Queries */

/* Tablet (Portrait) */
@media screen and (max-width: 768px) {
    .left-section {
        width: 40%;
    }

    .container {
        width: 90%;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .right-section {
        width: 100%;
    }

    h3 {
        font-size: 16px;
        margin-top: 3%;
    }

    .Profile {
        width: 120px;
        height: 120px;
    }

    button {
        font-size: 16px;
    }
}

/* Mobile (Portrait) */
@media screen and (max-width: 480px) {
    .left-section {
        width: 100%;
        /* text-align: left; */
        padding: 10px;
    }

    .Profile {
        width: 100px;
        height: 100px;
        margin-left: 15px;
    }

    .container {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .right-section {
        width: 100%;
    }

    h3 {
        font-size: 14px;
        margin-top: 2%;
        padding: 1%;
    }

    button {
        font-size: 14px;
    }
}

/* Large Mobile Devices (Landscape) */
@media screen and (max-width: 600px) {
    .left-section {
        width: 95%;
        margin-left: 3px;
    }

    .container {
        width: 100%;
        flex-direction: column;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    .right-section {
        width: 100%;
    }

    h3 {
        font-size: 16px;
    }

    .Profile {
        width: 120px;
        height: 120px;
    }

    button {
        font-size: 16px;
    }
}

